.box-center {
    margin: 0 auto;
    display: table;
}
.text-muted {
    color: #777;
}
.pull-right {
    float: right !important;
}
.hide {
  label {
    visibility: hidden;
  }
}
.permissions-container {
  .block {
    .el-form-item__label {
      padding-left: 24px;
    }
  }
}
